<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add New User</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>

    <div class="container">
        <h1 class="container text-center">Add New User</h1>
        <hr />
        <a href="/api/selectUsers1" class="btn btn-secondary">Show Users (HTML)</a>

        <form class="container text-center col-md-6 bg-info bg-opacity-10 border border-info  rounded-end" action="/api/addUsers" method="POST">
            <div class="mb-3">
                <label for="username" class="form-label">User Name</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
                <label for="userage" class="form-label">User Age</label>
                <input type="number" class="form-control" id="userage" name="userage" required>
            </div>
            <div class="mb-3">
                <label for="userlocation" class="form-label">User Location</label>
                <input type="text" class="form-control" id="userlocation" name="userlocation" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

   
</body>

</html>
